# Ignore all
*

# Unignore all directories
!*/

# Unignore all files with extensions
!*.*

# Ignore scorep output directories

**/cannon_src/*

*.out
*.o
*.pyc
*.swp
*.idk
*.ods\#
*.DS_Store
*.in
*.localized
worksheet\ 01/videos/

